
{{#if isBikerParaph}}
<h1>Байкерская атрибутика</h1>
<p>
Байкерская атрибутика ручной работы из натуральной кожи ручной работы.
Если вы хотите купить кожаный, байкерский жилет или кофры на мотоцикл.
Каждый аксессуар входящий в состав байкерской атрибутики имеет свое уникальное предназначение.
Некоторые элементы байкерской атрибутики расширяют вместительность мотоцикла, защищая тело.
Кроме технических функций оборудования и экипировки байкеров объединяет дух, который состоит в стиле.
Каждый элемент дополняет образ байкера и показывает его душу.
</p>
{{/if}}

{{#if isBags}}
<h1>Сумки, подсумки, кофры для мотоциклов</h1>
<p>Сумки, подсумки, кофры для мотоциклов изготовленные из натуральной кожи дополнят образ настоящего байкера.
  Наш интернет магазин предлагает товары для мотоциклистов изготовленных из натуральной кожи. 
  Пошив изделий осуществляется из качественной натуральной кожи, обработанной итальянской химией.
  Мы предлагаем как типовые элементы дизайна, так и можем воплотить ваши пожелания к внешнему виду и дизайну.	
</p>
{{/if}}

{{#if isArt}}
<h1>Картины и элементы декора из кожи</h1>
<p> Хотите купить картину или элемент декора изготовленного из натуральной кожи. 
    Все изделия изготавливаются только ручным методом и из высококачественных материалов. </p>
{{/if}}

{{#if isLeatherAcc}}
<h1>Аксессуары, портмоне, ежедневники из натуральной кожи</h1>
<p>Ищите где купить качественное и недорогое портмоне? В нашем интернет магазине обязательно 
  найдется подходящий вам кошелек, ежедневник или другой аксессуар. У нас можно приобрести стандартные 
  модели представленные в каталоге, а так же вы всегда можете заказать индивидуальный дизайн.
  Нанесение индивидуальных изображений и гравировки, то же не составит никакого труда. 
  Поверьте приобретенный у нас портмоне вас обязательно порадует своим качеством.
  Если вы решите подарить подобный аксессуар, то это будет хорошим подарком. </p>
{{/if}}

{{#if catalog.length}}
<div class="row">
  <div id="catalog_items">
{{#each catalog}}
{{#if visible}}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="/{{imgURL.[0]}}">
        </div>
        <div class="card-content">
          <span class="card-title">{{name}}</span>
          <p class="price big">{{price}}</p>
        </div>
        <div class="card-action">
          <a href="/catalog/{{_id}}" target="_blank"><button class="btn-floating waves-effect waves-light darkslategrey" type="submit"><i class="material-icons">open_in_new</i></button></a>
          <form action="/cart/add" method="POST">
            <input type="hidden" name="id" value="{{_id}}" >
            <button class="btn-floating waves-effect waves-light darkslategrey" type="submit"><i class="material-icons">add_shopping_cart</i></button>
          </form>
          <button class="btn-floating waves-effect waves-light darkslategrey">
              <i class="material-icons btn-remove-catalog-item" data-id="{{_id}}" data-group="{{group}}">delete_forever</i>
            </button>
        </div>
        </div>
      </div>
{{/if}}
{{/each}}
  </div>
</div>
{{else}} 
<p>В этой категории пока нет товаров =(</p>
{{/if}}
