<h1>Заказы</h1>

{{#if orders.length}}
  {{#each orders}}
    <div class="row">
      <div class="col s6 offset-s3">
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              Заказ № <small>{{number}}</small>
            </span>
            <p class="date">{{date}}</p>
            <p><em>{{buyerName}}</em> ({{buyerPhone}})</p>

            <ol>
              {{#each cart}}
                <li>
                  {{id.name}} (x<strong>{{count}}</strong>)
                </li>
              {{/each}}
            </ol>
            <hr>
            <p>Цена: <span class="price">{{price}}</span></p>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  
  <div id="order_search">
  <div class="row">
        <div class="row">
          <p>Поиск заказа:</p>
          <div class="input-field col s3">
            <input id="input_text" type="number" data-length="4">
            <label for="input_text">Номер заказа</label>
          </div>
          <div class="row">
          <button class="btn-floating waves-effect waves-light darkslategrey">
              <i class="material-icons btn-order-search">search</i>
          </button>
          </div>
        </div>
    </div>
  </div>
  <div id="order_search_result">
    <meta name="csrf-token" content="{{csrf}}">
  </div>
{{/if}}