<div class="row">
    <div class="col s12">
    <span class="card-title">{{product.name}}</span>
      <div class="card">
        <div class="card-image">
          <div class="slider">
            <ul class="slides">
            {{#each product.imgURL}}
            <li>
                <img src="/{{this}}"> 
                <div class="caption center-align">
                </div>
            </li>
            {{/each}}
            </ul>
        </div>
        </div>
        <div class="card-content">
            <p>{{product.description}}</p>
            <p class="price big">{{product.price}}</p>
        </div>
        <div class="card-action">
          <form action="/cart/add" method="POST">
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="id" value="{{product._id}}" >
            <button class="btn-floating waves-effect waves-light darkslategrey" type="submit"><i class="material-icons">add_shopping_cart</i></button>
          </form>
        </div>
      </div>
    </div>
  </div>